:root{
  --normal-font-size:38px;
  --title-font-size: 30px;
  --info-font-size: 28px
}

body{
  width: 100%;
  min-height: 100vh;
  font-family: "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}
.left-content{
  width: 18%;
  position: relative;
}


.right-content{
  width: 82%;
  height: 100%;
}

/* 最左侧导航条 */
.navInfo {
  height: 135px;
  z-index: 10;
  position: absolute;
  top: 100vh;
  left: 55px;
  background: #43ff62;
  transform: rotate(90deg);
  transform-origin: top left;
  font-size: 36px;
  font-weight: lighter;
  font-family: 'Helvetica Neue1';
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
  padding: 10px;
} 
.navInfo span {
  margin: 0px 20px;
}
/* menu */
.navMenu {
  position: sticky;
  top: 10vh;
  left: 80px;
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.navMenu a {
  color: #000;
  margin: 8px 5px;
  /* margin-left: 5px; */
  font-family: 'Helvetica Neue';
  font-size: 18px;
  font-weight: normal;
  display: inline-block;
}
.navMenu a:hover{
  color: #43ff62;
}

.navMenu a:active{
  font-family: 'Helvetica Neue';
  font-size: 22px;
  font-weight: bold;
}

a.active{
  font-family: 'HelveticaNeue-Medium';
  font-weight: bold;
}

a::before {
  position: relative;
  left: -10px;
  display: inline-block;
  width: 12px;
  height: 12px;
  content: '';
  background: #fff;
}

.active::before {
  position: relative;
  left: -10px;
  display: inline-block;
  width: 12px;
  height: 12px;
  content: '';
  background: #43ff62;
}



.page{
  min-height: 100vh;
  padding: 12px;
}

.page .right .titles{
  display: inline-block;
  color:#000;
  font-family: 'HelveticaNeue-bold';
  font-weight: bold;
  font-size: 22px;
  border-bottom: 5px solid #43ff62;
}

.page .right .description{
  margin-top: 30px;
  font-size: 19px;
  display: inline-block;
  color: #666;
}


.logo{
  width: 270px;
  margin: 15px 0px;
}

.slogan{
  font-size: var(--normal-font-size);
  font-style: italic;
  font-weight: bold;
}

.page-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -10%;
  position: relative;
}

/* page 2 */
#about {
  position: relative;
}

.page-2{
  margin-top: 330px;
}
.page-2 .logo {
  width: 270px;
}
.page-2 .sub-title{
  color: rgb(147, 147, 147);
  font-size: 24px;
  font-style: italic;
  font-weight: medium;
  margin: 4vh 0;
}
.page-2 .slogan{
  font-family: 'HelveticaNeue-MediumItalic';
  z-index: 20;
  position: relative;
  top: 0vh;
  left: 0;
}
.page-2 .description {
  font-size: 24px;
  font-family: 'HelveticaNeue-MediumItalic';
}
.page-2 .content{
  display: flex;
  flex-direction: column;
  position: relative;
}
.page-2 .content .top {
  display: flex;
}
.page-2 .content .top .left{
  width: 50%;
}

/* 最右侧盒子 */
.page-2 .content .top .right{
  width:35%;
  margin-left: 40px;
}
.page-2 .content .right .head {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.page-2 .content .right .head h2 {
  z-index: 10;
  font-size: var(--title-font-size);
  font-family: 'HelveticaNeue-bold';
}
.page-2 .content .right .title {
  margin-top: 5vh;
  display: flex;
  justify-content: space-around;
  font-family: 'HelveticaNeue-MediumItalic';
}
.page-2 .content .right .title h2 {
  font-size: 24px;
  font-weight: normal;
  font-family: 'HelveticaNeue-MediumItalic';
}
/* 背景线 */
.page-2 .content .right .head .bgline {
  position: absolute;
  left: 2vw;
  top: 2.6vh;
  width: 23vw;
  height: 0.5vh;
  background-color: #43ff62;
}
/* about bottom部分 */
.page-2 .content .bottom{
  width:100%;
  display: flex;
  margin-top: 645px;
}
.page-2 .content .bottom .left{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.page-2 .content .bottom .left h5 {
  margin: 0 60px;
  font-size: var(--title-font-size);
}
.page-2 .content .bottom .right h5 {
  margin: 0 60px;
  font-size: var(--title-font-size);
}
.page-2 .content .bottom .left img {
  transform: scale(0.8);
}
.page-2 .content .bottom .right {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.page-2 .content .bottom .right img {
  transform: scale(0.8);
}

/* project */
.project {
  position: relative;
  top: 150vh;
  left: 0;
}
/* page-project-hk */

.page-project .content{
  display: flex;
  justify-content: flex-start;
}

.page-project .content .left{
  width:60%;
  display: flex;
  justify-content: space-between;
}

.page-project .content .right{
  width:40%;
  display: flex;
  flex-direction: column;
  margin-left: 26px;
}

.page-project .left .image-1{
  width: 48% ;
  object-fit: contain;
  margin-right: 1%;

}

.page-project .left .right-imgs{
  display: flex;
  width: 48%;
  flex-direction: column;
  margin-right: 1%;
  justify-content: space-between;
}

/* project tecent */


.page-project-t .content{
  display: flex;
  justify-content: flex-start;
}

.page-project-t .content .left{
  width:60%;
  display: flex;
  justify-content: space-between;
}

.page-project-t .left .left-imgs{
  width: 48% ;
  object-fit: contain;
  margin-right: 1%;
  flex-direction: column;
  display: flex;

}

.page-project-t .left .right-imgs{
  display: flex;
  width: 48%;
  flex-direction: column;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
}
.page-project-t .content .right{
  display: block;
  width:40%;
  display: flex;
  flex-direction: column;
  margin-left: 26px;
}


/* project f */


.page-project-f .content{
  display: flex;
  justify-content: flex-start;
}

.page-project-f .content .left{
  width:60%;
  display: flex;
  justify-content: space-between;
}

.page-project-f .content .right{
  width:40%;
  margin-left: 26px;
}

.page-project-f .left .left-imgs{
  width: 48% ;
  object-fit: contain;
  margin-right: 1%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.page-project-f .left .left-imgs img{
  margin-bottom: 15px;
}


.page-project-f .left .right-imgs{
  display: flex;
  width: 48%;
  flex-direction: column;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
}

.page-project-f .left .right-imgs img{
  margin-bottom: 15px;
}

.page-project-f .right .splitline{
  width: 30vw;
  height: 0.5vh;
  position: absolute;
  left: 0;
  top: -2vh;
  background-color: #43ff62;
}



/* Prject - Milano Design Film Festival */

.page-project-m .content{
  display: flex;
  justify-content: flex-start;
}

.page-project-m .content .left{
  width:60%;
  display: flex;
  justify-content: space-between;
}

.page-project-m .content .right{
  width:40%;
  margin-left: 26px;
}

.page-project-m .left .left-imgs{
  width: 98% ;
  object-fit: contain;
  margin-right: 1%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.page-project-m .left .left-imgs img{
  margin-bottom: 15px;
}


.page-project-m .left .right-imgs{
  display: flex;
  width: 0%;
  flex-direction: column;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
}


.page-project-m .left .bottom-imgs{
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
  width: 100%;
  overflow: hidden;
}

.page-project-m .left .right-imgs img{
  margin-bottom: 15px;
}

.page-project-m .left .bottom-imgs img{
  flex:1;
}

.page-project-m .right .splitline{
  width: 30vw;
  height: 0.5vh;
  position: absolute;
  left: 0;
  top: -2vh;
  background-color: #43ff62;
}

/* Carmina Campus */

.page-project-car .content{
  display: flex;
  justify-content: flex-start;
}

.page-project-car .content .left{
  width:60%;
  display: flex;
  justify-content: space-between;
}

.page-project-car .content .right{
  width:40%;
  margin-left: 26px;
}

.page-project-car .left .left-imgs{
  width: 98% ;
  object-fit: contain;
  margin-right: 1%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.page-project-car .left .left-imgs img{
  margin-bottom: 15px;
}


.page-project-car .left .right-imgs{
  display: flex;
  width: 0%;
  flex-direction: column;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
}


.page-project-car .left .bottom-imgs{
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
  width: 100%;
  overflow: hidden;
}

.page-project-car .left .right-imgs img{
  margin-bottom: 15px;
}

.page-project-car .left .bottom-imgs img{
  flex:1;
}

.page-project-car .right .splitline{
  width: 30vw;
  height: 0.5vh;
  position: absolute;
  left: 0;
  top: -2vh;
  background-color: #43ff62;
}


/* nonno */

.page-project-nonno .content{
  display: flex;
  justify-content: flex-start;
}

.page-project-nonno .content .left{
  width:60%;
  display: flex;
  justify-content: space-between;
}

.page-project-nonno .content .right{
  width:40%;
  margin-left: 26px;
}

.page-project-nonno .left .left-imgs{
  width: 98% ;
  object-fit: contain;
  margin-right: 1%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.page-project-nonno .left .left-imgs img{
  margin-bottom: 15px;
}


.page-project-nonno .left .right-imgs{
  display: flex;
  width: 0%;
  flex-direction: column;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
}


.page-project-nonno .left .bottom-imgs{
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
  width: 100%;
  overflow: hidden;
}

.page-project-nonno .left .right-imgs img{
  margin-bottom: 15px;
}

.page-project-nonno .right .splitline{
  width: 30vw;
  height: 0.5vh;
  position: absolute;
  left: 0;
  top: -2vh;
  background-color: #43ff62;
}

/* WanDiary Project @ Camplus */

.page-project-wan .content{
  display: flex;
  justify-content: flex-start;
}

.page-project-wan .content .left{
  width:60%;
  display: flex;
  justify-content: space-between;
}

.page-project-wan .content .right{
  width:40%;
  margin-left: 26px;
}

.page-project-wan .left .left-imgs{
  width: 98% ;
  object-fit: contain;
  margin-right: 1%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.page-project-wan .left .left-imgs img{
  margin-bottom: 15px;
}


.page-project-wan .left .right-imgs{
  display: flex;
  width: 0%;
  flex-direction: column;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
}


.page-project-wan .left .bottom-imgs{
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
  width: 100%;
  overflow: hidden;
}

.page-project-wan .left .right-imgs img{
  margin-bottom: 15px;
}

.page-project-wan .right .splitline{
  width: 30vw;
  height: 0.5vh;
  position: absolute;
  left: 0;
  top: -2vh;
  background-color: #43ff62;
}


/* Beijing Desgin Week */

.page-project-bj .content{
  display: flex;
  justify-content: flex-start;
}

.page-project-bj .content .left{
  width:60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-project-bj .content .right{
  width:40%;
  margin-left: 26px;
}

.page-project-bj .left .top-imgs{
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
  width: 100%;
}

.page-project-bj .left  img{
  margin-bottom: 15px;
  margin-right: 15px;
}


.page-project-bj .left .top-imgs{
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
}


.page-project-bj .left .bottom-imgs{
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
  overflow: hidden;
  width: 100%;
}



.page-project-bj .right .splitline{
  width: 30vw;
  height: 0.5vh;
  position: absolute;
  left: 0;
  top: -2vh;
  background-color: #43ff62;
}



/* International Kids Design Week (BeiJing) */

.page-project-kid .content{
  display: flex;
  justify-content: flex-start;
}

.page-project-kid .content .left{
  width:60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-project-kid .content .right{
  width:40%;
  margin-left: 26px;
}

.page-project-kid .left .top-imgs{
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
  width: 100%;
}

.page-project-kid .left  img{
  margin-bottom: 15px;
  margin-right: 15px;
}


.page-project-kid .left .top-imgs{
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
}


.page-project-kid .left .bottom-imgs{
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
  overflow: hidden;
  width: 100%;
}


.page-project-kid .right .splitline{
  width: 30vw;
  height: 0.5vh;
  position: absolute;
  left: 0;
  top: -2vh;
  background-color: #43ff62;
}





/* publication */
/* 右边内容区域  rightmain */
.page-4 {
  margin-top: 193px;
}
.page-4 .box {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* 每一格书 */
.page-4 .box .bookbox{
  width: 48%;
  height: 34%;
  display: flex;
  margin: 2vh 0vw;
  margin-left: 0;
  justify-content: space-between;
}

/* 书 */
.page-4 .box .bookbox .book {
  width: 269px;
  object-fit: contain;
}
.page-4 .box .bookbox .book img {
  width: 100%;
  height: 100%;
}
.page-4 .box .bookbox .bookInfo {
  width: 20vw;
  height: 14vh;
  margin-left: 2vw;
  font-family: 'HelveticaNeue-bold';
}
.page-4 .box .bookbox .bookInfo span:first-child{
  font-size: 22px;
  font-weight: bold;
}
.page-4 .box .bookbox .bookInfo .info{
  color: gray;
  font-size: 18px;
  display: block;
  margin-top: 1vh;
}
.page-4 .box .bookbox .bookInfo .writer{
  
  color: gray;
  font-size: 16px;
  display: block;
  position: relative;
}
/* 线 */
.page-4 .box .bookbox .bookInfo .line {
  position: absolute;
  top: -2vh;
  left: 0vw;
  width: 20vw;
  height: 0.5vh;
  background-color: #43ff62;
}


/* people */
.page-5 .box {
  margin-top: 26vh;
  width: 75vw;
  display: flex;
  /* height: 100vh; */
}
.page-5 .box .photo {
  width: 218px;
  object-fit: contain;
  /* margin-left: 8vw; */
}
.page-5 .box .photo img {
  width: 100%;
}
.page-5 .box .jieshao {
  margin-left: 2vw;
  position: relative;
  left: 46px;
  top: 0;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
}
.page-5 .box .jieshao .xinxi .name {
  font-size: 22px;
  font-weight: bold;
  margin-left: 0;
  position: relative;
}
/* 绿点 */
.page-5 .box .jieshao .xinxi .green {
  width: 20px;
  height: 20px;
  position: absolute;
  left: -2vw;
  top: .5vh;
  background-color: #43ff62;
}
.page-5 .box .jieshao .xinxi .jianjie {
  line-height: 33PX;
  font-size: 18PX;
  font-family: 'HelveticaNeue-Light';
}
.page-5 .box .jieshao .xinxi .xueli {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  font-size: 18PX;
  line-height: 17px;
  font-weight: 100;
  font-family: 'Helvetica Neue';
}
.page-5 .box .jieshao .xinxi .xueli span {
  margin: 1vh 0;
}
.page-5 .box .jieshao .member {
  margin-top: 2vh;
}
.page-5 .box .jieshao .member .title {
  font-size: 24px;
  font-weight: bold;
  position: relative;
}
/* 绿点 */
.page-5 .box .jieshao .member .green1 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: -2vw;
  top: .5vh;
  background-color: #43ff62;
}
.page-5 .box .jieshao .member .memberList {
  font-size: 20px;
  font-weight: thin;
  display: flex;
  flex-wrap: wrap;
}
.page-5 .box .jieshao .member .memberList span {
  display: flex;
  justify-content: space-between;
  margin: 2vh 2vw;
}
/* friends */
.page-5 .box .jieshao .friends {
  margin-top: 2vh;
}
.page-5 .box .jieshao .friends .title {
  font-size: 24px;
  font-weight: bold;
  position: relative;
}
/* 绿点 */
.page-5 .box .jieshao .friends .green2 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: -2vw;
  top: .5vh;
  background-color: #43ff62;
}
.page-5 .box .jieshao .friends .friendsList {
  font-size: 20px;
  font-weight: thin;
  display: flex;
  flex-wrap: wrap;
}
.page-5 .box .jieshao .friends .friendsList span {
  display: flex;
  justify-content: space-between;
  margin: 2vh 2vw;
}


/* NetWork */
.page-network {
  display: flex;
}
.page-network img {
  width: 38%;
}

/* Contact */
.page-contact .box {
  margin-top: 270px;
  position: relative;
  display: flex;
}

.page-contact .box .qrcode img {
  width: 100%;
  object-fit: contain;
}
.page-contact .box .email {
  position: relative;
  left: 60px;
  top: -8px;
}

.page-contact .box .email .emailNum {
  margin-top: 2vh;
  display: block;
  font-size: 35pt;
  font-family: 'Helvetica Neue';
  font-size: var(--normal-font-size);
  font-style: italic;
  font-weight: bold;
}


/* page-project-hk */

.page-project .content{
  display: flex;
  justify-content: flex-start;
}

.page-project .content .left{
  width:60%;
  display: flex;
  justify-content: space-between;
}

.page-project .content .right{
  width:40%;
  
}

.page-project .left .image-1{
  width: 48% ;
  object-fit: contain;
  margin-right: 1%;

}

.page-project .left .right-imgs{
  display: flex;
  width: 48%;
  flex-direction: column;
  margin-right: 1%;
  justify-content: space-between;
}

/* project tecent */


.page-project-t .content{
  display: flex;
  justify-content: flex-start;
}

.page-project-t .content .left{
  width:60%;
  display: flex;
  justify-content: space-between;
}

.page-project-t .content .right{
  width:40%;
  
}

.page-project-t .left .left-imgs{
  width: 48% ;
  object-fit: contain;
  margin-right: 1%;
  flex-direction: column;
  display: flex;

}

.page-project-t .left .right-imgs{
  display: flex;
  width: 48%;
  flex-direction: column;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
}


/* project f */


.page-project-f .content{
  display: flex;
  justify-content: flex-start;
}

.page-project-f .content .left{
  width:60%;
  display: flex;
  justify-content: space-between;
}

.page-project-f .content .right{
  width:40%;
  
}

.page-project-f .left .left-imgs{
  width: 48% ;
  object-fit: contain;
  margin-right: 1%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.page-project-f .left .left-imgs img{
  margin-bottom: 15px;
}


.page-project-f .left .right-imgs{
  display: flex;
  width: 48%;
  flex-direction: column;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
}

.page-project-f .left .right-imgs img{
  margin-bottom: 15px;
}

.page-project-f .right .splitline{
  width: 30vw;
  height: 0.5vh;
  position: absolute;
  left: 0;
  top: -2vh;
  background-color: #43ff62;
}



/* Prject - Milano Design Film Festival */

.page-project-m .content{
  display: flex;
  justify-content: flex-start;
}

.page-project-m .content .left{
  width:60%;
  display: flex;
  justify-content: space-between;
}

.page-project-m .content .right{
  width:40%;
  
}

.page-project-m .left .left-imgs{
  width: 98% ;
  object-fit: contain;
  margin-right: 1%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.page-project-m .left .left-imgs img{
  margin-bottom: 15px;
}


.page-project-m .left .right-imgs{
  display: flex;
  width: 0%;
  flex-direction: column;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
}


.page-project-m .left .bottom-imgs{
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
  width: 100%;
  overflow: hidden;
}

.page-project-m .left .right-imgs img{
  margin-bottom: 15px;
}

.page-project-m .left .bottom-imgs img{
  flex:1;
}

.page-project-m .right .splitline{
  width: 30vw;
  height: 0.5vh;
  position: absolute;
  left: 0;
  top: -2vh;
  background-color: #43ff62;
}

/* Carmina Campus */

.page-project-car .content{
  display: flex;
  justify-content: flex-start;
}

.page-project-car .content .left{
  width:60%;
  display: flex;
  justify-content: space-between;
}

.page-project-car .content .right{
  width:40%;
  
}

.page-project-car .left .left-imgs{
  width: 98% ;
  object-fit: contain;
  margin-right: 1%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.page-project-car .left .left-imgs img{
  margin-bottom: 15px;
}


.page-project-car .left .right-imgs{
  display: flex;
  width: 0%;
  flex-direction: column;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
}


.page-project-car .left .bottom-imgs{
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
  width: 100%;
  overflow: hidden;
}

.page-project-car .left .right-imgs img{
  margin-bottom: 15px;
}

.page-project-car .left .bottom-imgs img{
  flex:1;
}

.page-project-car .right .splitline{
  width: 30vw;
  height: 0.5vh;
  position: absolute;
  left: 0;
  top: -2vh;
  background-color: #43ff62;
}


/* nonno */

.page-project-nonno .content{
  display: flex;
  justify-content: flex-start;
}

.page-project-nonno .content .left{
  width:60%;
  display: flex;
  justify-content: space-between;
}

.page-project-nonno .content .right{
  width:40%;
  
}

.page-project-nonno .left .left-imgs{
  width: 98% ;
  object-fit: contain;
  margin-right: 1%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.page-project-nonno .left .left-imgs img{
  margin-bottom: 15px;
}


.page-project-nonno .left .right-imgs{
  display: flex;
  width: 0%;
  flex-direction: column;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
}


.page-project-nonno .left .bottom-imgs{
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
  width: 100%;
  overflow: hidden;
}

.page-project-nonno .left .right-imgs img{
  margin-bottom: 15px;
}

.page-project-nonno .right .splitline{
  width: 30vw;
  height: 0.5vh;
  position: absolute;
  left: 0;
  top: -2vh;
  background-color: #43ff62;
}

/* WanDiary Project @ Camplus */

.page-project-wan .content{
  display: flex;
  justify-content: flex-start;
}

.page-project-wan .content .left{
  width:60%;
  display: flex;
  justify-content: space-between;
}

.page-project-wan .content .right{
  width:40%;
  
}

.page-project-wan .left .left-imgs{
  width: 98% ;
  object-fit: contain;
  margin-right: 1%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.page-project-wan .left .left-imgs img{
  margin-bottom: 15px;
}


.page-project-wan .left .right-imgs{
  display: flex;
  width: 0%;
  flex-direction: column;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
}


.page-project-wan .left .bottom-imgs{
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
  width: 100%;
  overflow: hidden;
}

.page-project-wan .left .right-imgs img{
  margin-bottom: 15px;
}

.page-project-wan .right .splitline{
  width: 30vw;
  height: 0.5vh;
  position: absolute;
  left: 0;
  top: -2vh;
  background-color: #43ff62;
}


/* Beijing Desgin Week */

.page-project-bj .content{
  display: flex;
  justify-content: flex-start;
}

.page-project-bj .content .left{
  width:60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-project-bj .content .right{
  width:40%;
  
}

.page-project-bj .left .top-imgs{
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
  width: 100%;
}

.page-project-bj .left  img{
  margin-bottom: 15px;
  margin-right: 15px;
}


.page-project-bj .left .top-imgs{
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
}


.page-project-bj .left .bottom-imgs{
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
  overflow: hidden;
  width: 100%;
}



.page-project-bj .right .splitline{
  width: 30vw;
  height: 0.5vh;
  position: absolute;
  left: 0;
  top: -2vh;
  background-color: #43ff62;
}



/* International Kids Design Week (BeiJing) */

.page-project-kid .content{
  display: flex;
  justify-content: flex-start;
}

.page-project-kid .content .left{
  width:60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-project-kid .content .right{
  width:40%;
}

.page-project-kid .left .top-imgs{
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
  width: 100%;
}

.page-project-kid .left  img{
  margin-bottom: 15px;
  margin-right: 15px;
}


.page-project-kid .left .top-imgs{
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
}


.page-project-kid .left .bottom-imgs{
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  justify-content: space-between;
  object-fit: contain;
  overflow: hidden;
  width: 100%;
}


.page-project-kid .right .splitline{
  width: 30vw;
  height: 0.5vh;
  position: absolute;
  left: 0;
  top: -2vh;
  background-color: #43ff62;
}