@font-face {
  font-family: 'Helvetica Neue';
  src: url('./font/HelveticaNeue-01.ttf');
};

@font-face {
  font-family: 'HelveticaNeue-Italic';
  src: url('./font/HelveticaNeue-Italic-03.ttf');
  font-style:italic;
};

@font-face {
  font-family: 'HelveticaNeue-BoldItalic';
  src: url('./font/HelveticaNeue-BoldItalic-04.ttf');
  font-style:italic;
  font-weight: bold;
};

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url('./font/HelveticaNeue-Medium-11.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('./font/HelveticaNeue-Light-08.ttf');
  font-weight: lighter;
}
@font-face {
  font-family: 'HelveticaNeue-UltraLight';
  src: url('./font/HelveticaNeue-UltraLight.ttf');
}
@font-face {
  font-family: 'HelveticaNeue-bold';
  src: url('./font/HelveticaNeue-Bold-02');
  font-weight: bold;
};
@font-face {
  font-family: 'HelveticaNeue-MediumItalic';
  src: url('./font/HelveticaNeue-MediumItalic-12.ttf');
  font-weight: normal;
}