/* 清除内外边距 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 初始化字体 */
em,
i {
  font-style: normal;
}
li {
  list-style: none;
}
/* border: 0;照顾低版本浏览器 */
/*   vertical-align: middle;取消图片底部的空白间隙 */
img {
  border: 0;
  vertical-align: middle;
}
/* 当鼠标经过button的时候变成小手 */
button {
  cursor: pointer;
}
a {
  
  text-decoration: none;
}

/* 字体设置 */
button,
input {
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
    "\5B8B\4F53", sans-serif;
  border: 0;
  outline: none;
}

body {
  /*-webkit-font-smoothing: antialiased;抗锯齿形 让文字更清晰*/
  -webkit-font-smoothing: antialiased;
  
}
.hide,
.none {
  display: none;
}
/* 伪元素清除浮动 */
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}
.clearfix {
  *zoom: 1;
}